{% extends "app/layout.html" %}

{% block content %}

<h2>Contato</h2>
<h3>Entre em contato conosco</h3>

<address>
    Assessoria Financeira Tecnologica<br />
    Rua impacta, 123<br />
    <abbr title="Telefone">Tel:</abbr>
    1234-2589 <br / >
    Agente digital disponivel para atendimento 24h de seg a seg.
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:dp@aft.com.br">dp@aft.com.br</a><br />
    <strong>Marketing:</strong> <a href="mailto:rh@aft.com.br">rh@aft.com.br</a>
</address>

{% endblock %}
